body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu {
    position: relative;
    background-color: #fff;
    box-shadow: 
        0px .3px .6px rgba(0, 0, 0, 0.028),
        0px .8px 1.8px rgba(0, 0, 0, 0.04),
        0px 1.8px 4.2px rgba(0, 0, 0, 0.052),
        0px 6px 14px rgba(0, 0, 0, 0.08)
    ;
    display: flex;
}

.menu a{
    padding: 1em;
    text-decoration: none;
    color: rgb(71, 85, 105);
    transition: .3s;
}

.menu a[aria-selected]{
    color: #5396eb;
}

.indicator{
    bottom: 0;
    left: 0;
    position: absolute;
    height: 4px;
    width: 100px;
    background-color: #5396eb;
    border-radius: 4px;
    transform-origin: 0 0;
}